.top-md{
    margin-top: 20px;
}
.bm-md{
    margin-bottom: 20px;
}
.responsive{
    display: none;
}
@media (max-width:767px){
    .enable{
        display: none;
    }
    .responsive{
        display: block;
        padding: 0px !important;
    }
}